<!DOCTYPE html>

<html>
	<head>
		<title>/signup/</title>
		<link rel="stylesheet" type="text/css" href="/css/mystyles.css" />
		
	</head>
	
	<body>
		<form method="post">
			<h2>Signup</h2>
			<label>
				Name <input name="username" value={{username}}> </input>{{a}}
				<br>
			</label>
			<label>
				Password <input type="password" name="password" > </input>{{b}}
				<br>
			</label>
			<label>
				Verify <input type="password" name="verify" > </input>{{c}}
				<br>
			</label>
			<label>
				Email <input name="email" value={{email}}> </input> {{d}}
				<br>
			</label>
			
			<input type="submit">
		</form>

	</body>
</html>